body {
  font-family: "Playfair Display", "sans-serif";
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

body p {
  font-family: "Poppins", "sans-serif";
  margin-block-start: 0em;
  margin-block-end: 0em;
}

body h1 {
  font-size: 55px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media (max-width: 550px) {
  body h1 {
    font-size: 30px;
  }
}

body h2 {
  font-size: 35px;
}

@media (max-width: 550px) {
  body h2 {
    font-size: 22px;
  }
}

body a {
  font-family: "Poppins", "sans-serif";
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
}

body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body .flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

body .flex-row {
  display: flex;
}

body .imgOverlay {
  background-color: rgba(19, 19, 11, 0.64);
  width: 100%;
  height: 100%;
}

body .bgimg {
  height: 100%;
  background-origin: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .thmbtn {
  background-color: transparent;
  color: #000000;
  font-size: 15px;
  outline: none;
  padding: 10px 18px;
  text-transform: uppercase;
  font-weight: 400;
  border: 1px solid #000000;
  border-radius: 2px;
  cursor: pointer;
  min-width: 140px;
  text-align: center;
  margin-top: 40px;
}

body .overflow-hide {
  overflow-x: hidden;
  box-sizing: border-box;
}

body .header {
  width: 30px;
  background-color: #000000;
  min-height: 100vh;
}

body .header nav .hm-icon {
  color: #ffff;
  height: 100vh;
}

body .header nav .hm-icon .dots,
body .header nav .hm-icon .close {
  height: 100vh;
  cursor: pointer;
  position: fixed;
  padding-left: 8px;
  line-height: 15px;
}

body .header nav .hm-icon .close {
  display: none;
}

body .header nav .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  margin-left: 30px;
}

body .header nav .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #423d3d;
  display: block;
  transition: 0.3s;
  transition: ease-out;
}

body .header nav .sidenav a:hover {
  color: #302828;
}

body .header nav .sidenav a img {
  width: 90%;
}

@media screen and (max-height: 450px) {
  body .header .sidenav {
    padding-top: 15px;
  }
  body .header .sidenav a {
    font-size: 18px;
  }
}

body .body {
  width: calc(100% - 30px);
}

body .body .banner {
  height: 100vh;
  color: #ffff;
}

body .body .banner .ban-content {
  width: 65%;
}

body .body .banner .ban-content h1 {
  margin-bottom: 2%;
}

@media (max-width: 550px) {
  body .body .banner .ban-content .grp-btn {
    flex-direction: column;
  }
}

body .body .banner .ban-content .thmbtn {
  margin-right: 15px;
  margin-top: 2%;
  color: #ffff;
  border: 1px solid #ffff;
}

body .body .banner .ban-content .thmbtn a {
  color: #ffff;
}

body .body .about {
  width: 100%;
  padding: 0% 3%;
}

body .body .about div:first-child {
  width: 70%;
  margin: 0 auto;
}

body .body .about .thmbtn {
  max-width: 145px;
}

body .body .projects {
  padding: 0% 3%;
}

body .body .projects .img-container {
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  body .body .projects .img-container {
    flex-direction: column;
    align-items: center;
  }
}

body .body .projects img {
  height: 300px;
  width: 30%;
  margin: 0px 10px 10px 10px;
}

@media only screen and (max-width: 768px) {
  body .body .projects img {
    width: 60%;
  }
}

body .body .clients {
  padding: 3%;
}

body .body .clients .img-container {
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  body .body .clients .img-container {
    flex-direction: column;
    align-items: center;
  }
}

body .body .clients img {
  width: 150px;
  margin: 0px 25px 30px 25px;
}

@media only screen and (max-width: 768px) {
  body .body .clients img {
    width: 180px;
    margin-bottom: 20px;
  }
}

body .body .services {
  height: 300px;
  color: #ffff;
}

body .body .services .imgOverlay .menu {
  height: 100px;
  padding: 0px 40px;
  border-top: 0.5px solid #fff;
  display: flex;
}

body .body .services .imgOverlay .menu div {
  font-size: x-large;
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body .body .services .imgOverlay .menu a {
  color: #ffffff;
}

body .body .services .imgOverlay .menu p {
  width: 50%;
  text-align: right;
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
}

body .body .services .imgOverlay .menu:hover {
  background-color: rgba(19, 19, 11, 0.84);
}

body .body .services .imgOverlay .menu:hover p {
  display: flex;
}

body .body .footer {
  padding: 3%;
  flex-wrap: wrap;
}

body .body .footer img {
  width: 200px;
}

body .body .footer p {
  line-height: 20px;
}

body .body .footer div,
body .body .footer ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 10%;
}

body .body .foot-end {
  text-align: center;
  background: #f6f6f6;
  padding: 5px;
}
