body{
    margin: 0;
    display: flex;
    flex-direction: column;
    .header{
        width: 25px;
        background-color: black;
        min-height: 100vh;
    }
    .body{
        width: 90%;
        background-color: blanchedalmond;
    }
}